<div class="col-md-4 col-md-offset-3">
  <h3><%= @item.title %></h3>

  <%= filepicker_image_tag @item.filepicker_url.split(",").reverse.first, w: 500 %>

</div>

<div class="col-md-8">
  <%= bootstrap_form_for([@item, @order]) do |f| %>
    <% if order.errors.any? %>
      <div id="error_explanation" class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

        <ul>
        <% order.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div id="stripe-error" class="alert alert-danger" style="display:none">
      <noscript> Javascript is not enabled and is required for this form. First enable it in your web browser settings</noscript>
    </div>

  <% end %>
</div>
<div class="col-md-4 col-md-offset-3">
<%= bootstrap_form_for([@item, @order]) do |f| %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>

    <label class="amount">
      <span><h3><%= number_to_currency(@item.price) %> + <%= number_to_currency(@item.shipping_price) %> shipping</h3></span>
    </label>
  </article>
  
    <div class="center">
    <%= f.submit "Pay" %>
  </div>

<!-- <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-image="<%= @item.filepicker_url.split(",").reverse.first %>"
          data-name="D-WOLRD: POWER SHOP"
          data-description="<%= @item.title %>"
          data-amount="<%= ((@item.price + @item.shipping_price) * 100).floor %>"
          data-email="<%= current_user.email %>"
          data-shipping-address="true"
          data-zip-code="true"
          data-panel-label="Pay <%= @item.username %> "
          data-label="Purchase with STRIPE"
          data-locale="auto"></script> -->

<% end %>
</div>