<div class="center col-md-5 ">
  <h3>You are about to purchase...
  <br><%= @item.title %> for <%= number_to_currency(@item.price + @item.shipping_price) %> 
 </h3><br>
  <%= filepicker_image_tag @item.filepicker_url.split(",").reverse.first, w: 500 %>


</div>

<div class="center col-md-6">
  <%= bootstrap_form_for([@item, @order]) do |f| %>
    <% if order.errors.any? %>
      <div id="error_explanation" class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

        <ul>
        <% order.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div id="stripe-error" class="alert alert-danger" style="display:none">
      <noscript> Javascript is not enabled and is required for this form. First enable it in your web browser settings</noscript>
    </div>

  <% end %>

</div>




<div class="center col-md-4 col-md-offset-2">

    <article>
      <% if flash[:error].present? %>
        <div id="error_explanation">
          <p><%= flash[:error] %></p>
        </div>
      <% end %>
    </article>

<%= bootstrap_form_for([@item, @order]) do |f| %>


  <br>
  <h3>Shipping Info</h3><br><br>
  </div>

  <div class="col-md-4 col-md-offset-2">
  <%= f.text_field :name %>
  </div>
  <div class="col-md-4 col-md-offset-2">
  <%= f.text_field :address %>
  </div>
  <div class="row col-md-2 col-md-offset-2">
  <%= f.text_field :city %> 
  </div>
  <div class="row col-md-1 col-md-offset-0">
  <%= f.text_field :state %>
  </div>
  <div class="row col-md-1 col-md-offset-0">
  <%= f.text_field :zip %>
  </div>


  <div class="col-md-4 col-md-offset-2">
    <%= f.text_field :country%><br><br>
      <div class="center">
      <%= f.submit "PayPal Express Checkout", class: "btn btn-success btn-lg btn-block" %>
      </div>
  </div>

<% end %>
</div>