<div class="center">
<h1>Bought</h1>
</div>
  <% @orders.each do |order| %>
    <div class="col-md-3">
        <%= filepicker_image_tag order.item.filepicker_url.split(",").last, w: 200, h: 200, fit: 'crop' %><br>
        <%= order.item.title %><br>
        <%= order.item.content %><br>
        <%= order.seller.username %><br>
        <%= time_ago_in_words(order.item.created_at) %> ago.<br>
        <%= link_to 'Show', order.item %><br>
    </div> 
  <% end %>
