<div class="center">
<h1>Sold</h1>
</div>
<br>

  <% @orders.each do |order| %>
  <div class="row">
  <div class="col-md-3">
        <%= link_to(filepicker_image_tag(order.item.filepicker_url.split(",").last, w: 200, h: 200, fit: 'crop'), item_path(order.item.id)) %><br>
  </div><br>
<div class="col-md-2 center-row">
        <%= order.item.title.upcase %><br><br>
        Buyer: <%= order.buyer.username %><br><br>
        Ship to:<br>
        <%= order.name %><br>
        <%= order.address %><br>
        <%= order.city %>,
        <%= order.state %>
        <%= order.zip %><br>
        <%= order.country %><br>
        ___________________________________
</div>
</div>
<br>
<% end %>

