<h1>Log in</h1>
<div class="col-md-4 col-md-offset-4">
<%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
<center>
    <%= f.text_field :login, label: "Username", autofocus: true %>
    <%= f.password_field :password, autocomplete: "off" %>
</center>
<center>
  <% if devise_mapping.rememberable? -%>
	<%= f.label :remember_me do %>
	  <%= f.check_box :remember_me %>
	<% end %>
  <% end -%>
</center>
</div>

<div class="col-md-4 col-md-offset-4">
  <div class="actions center">
    <%= f.submit "Log in", class: "btn btn-info btn-lg btn-block"  %>
  </div>
<% end %><br>


<%= render "devise/shared/links" %>
</div>