<h1>Garage</h1>
      <% @items.each do |item| %>
        <div class="col-md-3">
            <%= image_tag item.images[0].url, size: 200 %>
            <%= item.title %><br>
            <%= item.content %><br>
            <%= item.user.username %><br>
            Posted <%= time_ago_in_words(item.created_at) %> ago.<br>
            <%= link_to 'Show', item %><br>
            <% if item.user == current_user %>
              <%= link_to 'Edit', edit_item_path(item) %><br>
              <%= link_to 'Destroy', item, method: :delete, 
                                               data: { confirm: 'Are you sure?' } %>
            <% end %>
        </div> 
      <% end %>
<br>