<% title @item.title %>
<% meta_tag :description, @item.content %>
<% meta_tag :keywords, @item.title.split.join(', ') %>

<div class="col-md-4">
  <% @item.filepicker_url.split(",").reverse.each do |image| %>
    <%= filepicker_image_tag image, w: 500 %>
  <% end %>
</div>

<div class="cold-md-4 col-md-offset-7">

  <h1><%= @item.title %></h1>
  <h2><%= number_to_currency(@item.price) %> + <%= number_to_currency(@item.shipping_price) Shipping %></h2>  

  <%= @item.content %><br><br>



Posted by <%= link_to @item.user.username, user_path(@item.user.id) %> <%= time_ago_in_words(@item.created_at) %> ago<br><br>

<%= pluralize(@item.favorited_by.count, 'user') %> favorited this<br>

<% if current_user && current_user.favorite_items.collect(&:item_id).include?(@item.id) %>
      <span class="glyphicon glyphicon-star"></span> <%= link_to "Unfavorite", favorite_item_path(@item, 
                                                          type: "unfavorite"), 
                                                          method: :put %><br>
<% else %>
      <span class="glyphicon glyphicon-star-empty"></span> <%= link_to "Favorite",   favorite_item_path(@item, 
                                                          type: "favorite"), 
                                                          method: :put %><br>
<% end %>
<br> 
</div>

<div class="cold-md-4 col-md-offset-7">

<% if @item.orders.any? %>
  <div data-turbolinks="false">
  <%= link_to "SOLD!", root_path, class: "btn btn-danger btn-lg btn-block" %>
  </div>
<% elsif @item.user != current_user %>
  <div data-turbolinks="false">
  <%= link_to "Buy", new_item_order_path(@item), class: "btn btn-success btn-lg btn-block" %>
  </div>
<% end %>

</div>

<div class="cold-md-4 col-md-offset-7">

  <% if @item.user == current_user %><br>
    <div data-turbolinks="false">
    <%= link_to 'Edit', edit_item_path(@item) %></div>
    <%= link_to 'Destroy', @item, method: :delete, 
                                     data: { confirm: 'Are you sure?' } %>
  <% end %>

<center><h2>Discuss</h2></center>
<%= render 'comments/comment' %><br>
<%= render 'comments/form' %>
</div>