<header class="navbar navbar-static-top navbar-inverse">
  <div data-turbolinks="false" class="container">
    <%= link_to "D-WOLRD: POWER SHOP", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "About",  about_path    %></li>
        <li><%= link_to "Sell",   new_item_path %></li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Garage <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "My Parts", garage_path %></li>
              <li><%= link_to "My Favorites", favorites_path %></li>
              <li class="divider"></li>
              <li><%= link_to "Bought", purchases_path %></li>
              <li><%= link_to "Sold", sales_path %></li>
            </ul>
          </li>

        <% if user_signed_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= current_user.username %> <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Messages", conversations_path %></li>
              <li><%= link_to "Settings", edit_user_registration_path %></li>
              <li class="divider"></li>
              <li>
                <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Sign Up", new_user_registration_path %></li>
          <li><%= link_to "Log in",  new_user_session_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>

