<!DOCTYPE html>
<html>
  <head>
    <title>D-WOLRD: POWER SHOP</title>
    <%= render 'layouts/rails_default' %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
  <%= filepicker_js_include_tag %>
  <%= render 'layouts/header' %>  
  <%= render 'layouts/alert'  %>
  <div class="container">
    <%= yield %>
  </div>
  </body>
</html>
